* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

body {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
}

header {
  background-color: black;
  color: white;
  width: 100%;
}

main {
  background-color: white;
  border: 2px solid black;
  margin: 3%;
  align-items: center;
  justify-content: space-around;
  width: 94%;
  flex-grow: 1;
  padding: 1em;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
}

header a,
header a:visited,
footer a,
footer a:visited {
  text-decoration: none;
  color: white;
}

#title {
  font-size: xx-large;
  margin: 1em auto;
}

nav {
  margin: 1em auto;
}

img {
  align-items: center;
  justify-content: space-between;
  width: 6em;
}

#posters-container {
  display: grid;
  grid-template-areas: 
  "a b c"
  "d e f";
}

#a {
  grid-area: a;
}

#b {
  grid-area: b;
}

#c {
  grid-area: c;
}

#d {
  grid-area: d;
}

#e {
  grid-area: e;
}

#f {
  grid-area: f;
}

.posters {
  cursor: pointer;
}

.modal {
  z-index: 1;
  background-color: rgb(235,235,235);
  color: black;
  border: 1px black;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  height: 250px;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* background: var(--black); */
  cursor: pointer;
  /* visibility: hidden; */
  /* opacity: 0; */
  transition: all 0.35s ease-in;
}
