* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

body {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
}

header {
  background-color: black;
  color: white;
  width: 100%;
}

main {
  background-color: white;
  border: 2px solid black;
  margin: 3%;
  align-items: center;
  justify-content: space-around;
  width: 94%;
  flex-grow: 1;
  padding: 1em;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
}

header a,
header a:visited,
footer a,
footer a:visited {
  text-decoration: none;
  color: white;
}

#title {
  font-size: xx-large;
  margin: 1em auto;
}

nav {
  margin: 1em auto;
}

img {
  align-items: center;
  justify-content: space-between;
  width: 6em;
}

#posters-container {
  display: grid;
  grid-template-areas: 
  "a b c"
  "d e f";
}

#a {
  grid-area: a;
}

#b {
  grid-area: b;
}

#c {
  grid-area: c;
}

#d {
  grid-area: d;
}

#e {
  grid-area: e;
}

#f {
  grid-area: f;
}